garminconnect
click
brotlicffi
httpx[http2,cli,brotli]
python-dateutil
json5
pytz
inquirer
bleak

mypy
types-python-dateutil
types-pytz
autopep8
flake8
flake8-pyproject
ruff
pylint
isort

# pytest
# coverage
pytest-cov

twine
build
